extends layout

block content
  script(src="javascripts/index.js")
  
  div#origin
    h1#welcome Welcome
    div#welcomebuttons
      button#welcomebutton(type="button" onclick="register();") Register
      button#welcomebutton(type="button" onclick="login();") Log In
  
  div#dropdowncenter
    div#register
      h1 New Account
      form#registerform(method="POST", action="/register", type="application/x-www-form-urlencoded")
        input(placeholder="Email Address" name="email")
        br
        input(type="password" placeholder="Password" name="password")
        br
        input(placeholder="First or Nickname" name="nickname")
        br
        select(name="grade")
          option Grade
          option Freshman
          option Sophomore
          option Junior
          option Senior
        br
        br
        input(type="submit")
        
  script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
  script(src='javascripts/jquery.fittext.js')
  script(src="javascripts/welcometext.js")
